.h1 {
  width: min-content;
  padding: 0;
  margin: 73px 0 0 0;
  font-size: 100px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 100px */
  background: var(
    --unnamed,
    linear-gradient(90deg, #61a8fd 0%, #4652f3 49%, #3844a8 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

